---
  - name: Create vault Group
    group:
      name: "{{ group }}"
  
  - name: Create vault User
    user:
      name: "{{ user }}"
      group: "{{ group }}"
  
  - name: Wipe vault Data
    file:
      path: "{{data_dir}}"
      state: absent
    when: wipe_data
    notify: Restart vault
  
  - name: Create vault Directory
    file:
      path: "{{item}}"
      state: directory
      owner: vault
      group: vault
      mode: "0750"
    with_items: 
      - "{{ config_dir }}"
      - "{{data_dir}}"
  
  - name: Add vault config
    template:
      src: config.hcl.j2
      dest: "{{ config_dir }}/config.hcl"
    notify: Restart vault

  - name: Deploy postgres password fetch script
    template:
      src: fetch-postgres-password.sh.j2
      dest: "{{ config_dir }}/fetch-postgres-password.sh"
      owner: root
      group: root
      mode: "0750"
    when: vault_storage_backend == 'postgresql'
    notify: Restart vault

  - name: Deploy postgres environment config
    template:
      src: postgres.env.j2
      dest: "{{ config_dir }}/postgres.env"
      owner: root
      group: root
      mode: "0640"
    when:
      - vault_storage_backend == 'postgresql'
      - gcp_project_id != '<gcp-project-id>'
    notify: Restart vault


  - name: Add vault.Service
    template:
      src: vault.service.j2
      dest: /etc/systemd/system/vault.service
    notify: Restart vault
