ui            = true
{% if tls_crt_dest != "" and tls_key_dest != "" %}
cluster_addr  = "https://vault.devcastops.com:8201"
api_addr      = "https://vault.devcastops.com:8200"
{% else %}
cluster_addr  = "http://vault.devcastops.com:8201"
api_addr      = "http://vault.devcastops.com:8200"
{% endif %}
disable_mlock = true

{% if vault_storage_backend == 'raft' %}
storage "raft" {
  path = "{{ data_dir }}"
  node_id = "raft_node_1"
}
{% endif %}

listener "tcp" {
  address       = "0.0.0.0:8200"
  {% if tls_crt_dest != "" and tls_key_dest != "" %}
  tls_cert_file = "{{ tls_crt_dest }}"
  tls_key_file  = "{{ tls_key_dest }}"
  {% else %}
  tls_disable   = true
  {% endif %}
}

seal "gcpckms" {
  key_ring  = "{{ key_name }}"
  crypto_key = "{{ crypto_key }}"
  project   = "devcastops"
  region = "global"
}

